<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>google_login</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	 <key>CFBundleURLTypes</key>
       <array>
          <dict>
             <key>CFBundleTypeRole</key>
             <string>Editor</string>
             <key>CFBundleURLSchemes</key>
             <array>
                <string>com.example.googlelogin</string>
             </array>
          </dict>
       </array>
       <key>CLIENT_ID</key>
       	<string>1043075244240-mm8hgg4khtahni9jtde893mehcj49t9h.apps.googleusercontent.com</string>
       	<key>REVERSED_CLIENT_ID</key>
       	<string>com.googleusercontent.apps.1043075244240-mm8hgg4khtahni9jtde893mehcj49t9h</string>
       	<key>API_KEY</key>
       	<string>AIzaSyA0sXKBAo8w1lI63azRke_yjGEJLsD9n6M</string>
       	<key>GCM_SENDER_ID</key>
       	<string>1043075244240</string>
       	<key>PLIST_VERSION</key>
       	<string>1</string>
       	<key>BUNDLE_ID</key>
       	<string>com.example.googlelogin</string>
       	<key>PROJECT_ID</key>
       	<string>flutter-b8499</string>
       	<key>STORAGE_BUCKET</key>
       	<string>flutter-b8499.appspot.com</string>
       	<key>IS_ADS_ENABLED</key>
       	<false></false>
       	<key>IS_ANALYTICS_ENABLED</key>
       	<false></false>
       	<key>IS_APPINVITE_ENABLED</key>
       	<true></true>
       	<key>IS_GCM_ENABLED</key>
       	<true></true>
       	<key>IS_SIGNIN_ENABLED</key>
       	<true></true>
       	<key>GOOGLE_APP_ID</key>
       	<string>1:1043075244240:ios:4fdae46d9e93bbc1497ed5</string>
</dict>
</plist>
